@CHARSET "ISO-8859-1";
#apt_main_searchbar{
	display: block;
	width: 70%;
	border-radius: 5px;
	position:relative;
	top:80%;
	margin: auto;
	text-align: center;
}

.searchfield{
	width: 45%;
	height: 40px;
	color:green;
	border-radius: 5px;
	border-color: green green;
	margin: auto;
	display: inline-block;
}

@media (max-width:605px) {
    #apt_main_searchbar{
		width: 100%;
		height: 45px;
		border-radius: 5px;
		position:relative;
		top:70%;
		margin: auto;
		text-align: center;
	}
    .searchfield{
		width: 90%;
		height: 40px;
		color:green;
		border-radius: 5px;
		border-color: green green;
		margin: 3px auto;
	}
}

