@CHARSET "ISO-8859-1";



a{
	cursor:pointer;
}

#apt_header{
	display: block;
	height: 75px;
	width: 100%;
	background-color: rgba(100,120,120,0.2);
	position: fixed;
	z-index:1; 
	top: 0;
}

#apt_header img{
	width: 60px;
	height: 60px;
}

#apt_login{
	width: 80%;
	border-collapse: collapse;
	padding: 3px;
	z-index: 1 !important;
	background-color: #292732;
	opacity: 0.8;
	position: fixed;
	text-align: center;
	padding: 2px;
	margin-left: 10%;
	margin-top: 10%;
}

#frm_login{
	width: 60%;
}

#apt_main_p1{
	height:70%;
	width: 100%;
	background-image : url("../img/hopital.jpg");
 	background-size : cover; 
	background-repeat:no-repeat;
	background-size: 100% 100%; 
	position:relative;
}

#apt_main_searchbar{
	width: 40%;
	height: 45px;
	background-color : #d1d1d1;
	border-radius: 5px;
	position:relative;
	top:80%;
/* 	padding:0; */
/* 	margin:0; */
	margin: auto;
	text-align: center;
}

.searchfield{
	width: 40%;
	height: 40px;
	color:green;
	border-radius: 5px;
	border-color: green green;
	margin: auto;
	display: inline-block;
}

#input1{
/* 	float:left; */
	position:absolute;
/* 	width:33%; */
/* 	height: 80%; */
	color:green;
	border-radius: 3px;
/* 	left:6%; */
/* 	top:10%; */
	border-color: green green;
	margin: auto;
}


#apt_main_p2{
	width:100%;
	height: 30%;
	background-image:  url("../img/dg.png");
	background-repeat: left top repeat;
	position:relative;
	padding-top:10px;
}
#apt_main_p22{
	width:70%;
	height:100%;
	float:left;
}
#apt_main_p22 div{
	/*width:12%;
	height:70%;
	float:left ;*/
	height:100%;
	position:relative;
	/*margin-top:1%;
	margin-left: 10%;*/
}
#apt_main_p22 img{
	width:40%;
	height:40%;
	position:relative;
	margin-left:20%;	
}
#apt_main_p22{
	width:70%;
	height:100%;
	float:left;
}
#apt_main_p22 p{
	margin-top:10px;
	font-size:14px;
	font-weight: bold;
	text-align:center;
	position:relative;
}
#apt_main_p21, #apt_main_p23{
	width:15%;
	height:100%;
	float:left
}
#apt_main{
	height: 800px;
	margin-top: -22px;
}

#frm_login{
	margin: auto;
	width: 90%;
}

.input-group{
	margin-top: 7px;
	display: inline-block;
}
