@CHARSET "ISO-8859-1";
@media screen and (max-width: 605px){

	#apt_login{
		opacity: 1;
	}

	#apt_main{
		height:relative;
	}
	
	#apt_main_p2 img{
		width: 60px;
		height: 60px;
	}
}
#apt_main_p3{
	width:100%;
	height:100px;
	background-color:grey;
}
