@CHARSET "ISO-8859-1";

div{
	display: block;
}

a{
	cursor:pointer;
}

#apt_header{
	height: 100px;
	width: 100%;
	display: block;
	background-color: rgba(100,120,120,0.2);
	position: fixed;
	top: 0;
}

#apt_header img{
	max-height: 90px;
	margin-top: -15px;
}

#apt_login{
	width: 80%;
	border-collapse: collapse;
	padding: 3px;
	z-index: 1 !important;
	background-color: #292732;
	opacity: 0.8;
	position: fixed;
	text-align: center;
	padding: 2px;
}

#frm_login{
	width: 60%;
}
#apt_main_p1{
	height:450px;
	display: block;
	width: 100%;
	background-image : url("../img/bg.jpg");
	background-size : cover;
	background-repeat : no-repeat;
	background-size: 100% 100%;
}
#apt_main_p1 h1, h3{
	text-align: center;
	position: relative;
	top: 200px;
}
#apt_main_p1 div{
	position: relative;
	margin: 0 auto;
	margin-top:200px;
	height:60px;
	width: 200px;
	background-color: red;
}

#apt_main{
	height: auto;
	margin-top: -22px;
	
}