<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<div id="apt_footer" class="row">
	<div class="col-sm-4 center">
			<a href="#">Home</a> -
			<a href="#">Qui sommes-nous</a> - 
			<a href="#">Nous contacter</a>
	</div>
	<div class="col-sm-4 center">
		<div>
			<p style="font-weight:bold;">DOCTOR APT</p>		
			<p>Prendre RDV avec un médecin, c'est simple !</p>
		</div>
		<div>	
			<p>Email us: <a href="mailto:abc@gmail.com">contact@medecinapt.com</a></p>
			<p>Tel: 03 32 34 52 11</p>	
		</div>
	</div>
	<div class="col-sm-4 center">
		<p style="font-weight:bold";>Siege Principal</p>
		<p>100 Avenue des Champs-Elysées</p>
		<p>75008 Paris, France</p>
	</div>
</div>