<div id="apt_login"></div>
<div id="apt_main_p1">
	<h1>TROUVEZ VOTRE MÉDECIN</h1>
	<h3>Et prenez rendez-vous immédiatement !</h3>
<div>
<select class="selectpicker" data-style="btn-info" multiple data-max-options="3" data-live-search="true">
 
<optgroup label="Web">
 
<option>PHP</option>
 
<option>CSS</option>
 
<option>HTML</option>
 
<option>CSS 3</option>
 
<option>Bootstrap</option>
 
<option>JavaScript</option>
 
</optgroup>
 
<optgroup label="Programming">
 
<option>Java</option>
 
<option>C#</option>
 
<option>Python</option>
 
</optgroup>
 
</select>

</div>
</div>
