<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<div id="apt_main_p1" >
<div id="apt_login"></div>



<div id="apt_main_searchbar" class="row">
	<form id="frm_search">
			<input id="idspe" list="spe" name="spécialiste" class="searchfield" placeholder="Spécialité">
			<datalist id="spe">
			    <option value="Dentiste">
			    <option value="Generaliste">
			    <option value="Psychologie">
	  		</datalist>
	  		<input id="idlocation" list="location" name="lieu" class="searchfield" placeholder="Votre ville">
			<datalist id="location">
			    <option value="75013">
			    <option value="Paris 1">
			    <option value="Paris 2">
			    <option value="Paris 3">
			    <option value="Paris 4">
			    <option value="Paris 5">
	 		</datalist>
<!-- 	 		<div><i class="fa fa-search w3-btn w3-teal" aria-hidden="true" style="font-size:20px;"></i></div> -->
				<div class="input-group">
				<input type="submit" value="Search" class="btn btn-warning">
				</div>
	</form>
	</div>
</div>


