<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<div id="apt_main_p1">
	<div id="apt_login"></div>

<div id="apt_main_searchbar" class="row">
	<form>
			<input list="spe" name="spécialiste" class="searchfield" placeholder="Spécialité">
			<datalist id="spe">
			    <option value="Dentiste">
			    <option value="Généraliste">
			    <option value="Psychologie">
	  		</datalist>
	  		<input list="location" name="lieu" class="searchfield" placeholder="Votre ville">
			<datalist id="location">
			    <option value="Paris">
			    <option value="Paris 1">
			    <option value="Paris 2">
			    <option value="Paris 3">
			    <option value="Paris 4">
			    <option value="Paris 5">
	 		</datalist>
	 		<div><i class="fa fa-search w3-btn w3-teal" aria-hidden="true" style="font-size:20px;"></i></div>
	</form>
	</div>
</div>

<div id="apt_main_p2" class="row">
		<div class="col-sm-3 col-xs-6"><img src="img/icon3.png"><p>Choisissez votre médecin</p></div>
		<div class="col-sm-3 col-xs-6"><img src="img/icon1.png"><p>Prenez rendez-vous en ligne 24h/24h-7j/7</p></div>
		<div class="col-sm-3 col-xs-6"><img src="img/icon2.png"><p>Retrouvez votre espace patient dedié</p></div>
		<div class="col-sm-3 col-xs-6"><img src="img/icon4.png"><p>Un service 100% gratuit</p></div>
</div>

