<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<div id="apt_main_p2" class="row">
		<div class="col-sm-3 col-xs-6"><img src="img/icon3.png"><p class="center" style="color:black;font-weight:bold";>Choisissez votre médecin</p></div>
		<div class="col-sm-3 col-xs-6"><img src="img/icon1.png"><p class="center" style="color:black;font-weight:bold";>Prenez rendez-vous en ligne 24h/24h-7j/7</p></div>
		<div class="col-sm-3 col-xs-6"><img src="img/icon2.png"><p class="center" style="color:black;font-weight:bold";>Retrouvez votre espace patient dedié</p></div>
		<div class="col-sm-3 col-xs-6"><img src="img/icon4.png"><p class="center" style="color:black;font-weight:bold";>Un service 100% gratuit</p></div>
</div>

<div id="apt_main_p3" class="row">
<div class="col-sm-12 col-xs-12 center">
  <a class="w3-button w3-circle"  title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-circle w3-teal" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-circle w3-teal" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-circle w3-teal"  title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-circle w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>
</div>
</div>
<div id="apt_footer" class="row">
	<div class="col-sm-4 center">
			<a href="#">Home</a> -
			<a href="#">Qui sommes-nous</a> - 
			<a href="#">Nous contacter</a>
	</div>
	<div class="col-sm-4 center">
		<div>
			<p style="font-weight:bold;">DOCTOR APT</p>		
			<p>Prendre RDV avec un médecin, c'est simple !</p>
		</div>
		<div>	
			<p>Email us: <a href="mailto:abc@gmail.com">contact@medecinapt.com</a></p>
			<p>Tel: 03 32 34 52 11</p>	
		</div>
	</div>
	<div class="col-sm-4 center">
		<p style="font-weight:bold";>Siege Principal</p>
		<p>100 Avenue des Champs-Elysées</p>
		<p>75008 Paris, France</p>
	</div>
</div>